:root {
  --primary: #5a676c;
  --secondary: #767e81;
}  

body{
    margin:0px;
    padding:0px;
}
main{
    padding:25px;
    margin: 25px;
}
.side-menu{
    position: fixed;
    width: 160px;
    top: 0;
    bottom: 0;
    background-color: var(--primary);
    overflow: auto;
    z-index: 11;
}
.nav-link{
    color: #fff;
    text-align: center;
    padding: 15px
}
.nav-link:hover{
    color: #fff;
}
.nav-link.active {
    background-color: var(--secondary);
    border-right: 5px solid #ffffff;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
}
 
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #9e9797;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 10px;
}

/* Container around content */
.tl-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    /* width: 50%; */
    /* color: #8b1414; */
}

/* The circles on the timeline */
.tl-container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 3px;
    background-color: #faf6f6;
    border: 2px solid var(--secondary);;
    top: 25px;
    border-radius: 50%;
    z-index: 1;
}

/* The actual content */
.content {
    padding: 20px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
